.page_content_header {
    position: relative;
    padding-top: 200px;
    height: 900px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 32px;
    padding-top: 100px;
}

.page_header_svg {
    position: absolute;
    width: 400px;
    &:first-of-type {
        left: 6px;
        top: 160px;
    }

    &:last-of-type {
        right: 2px;
        bottom: 210px;
    }
}

.page_header_content_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
}

.fontys_logo {
    height: 350px;
    margin: auto;
    object-fit: cover;
}

.search_bar_info {
    margin: auto;
    width: fit-content;
}

.search_bar_wrapper {
    margin-top: 12px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: flex;
    align-items: center;
}

.search_icon {
    position: absolute;
    left: 16px;
    color: rgba(0, 0, 0, 0.56);
    font-size: 1.2em;
}

.search_bar {
    flex-grow: 1;
    padding: 8px 24px 8px 48px;
    border: 2px solid rgba(0, 0, 0, 0.16);
    border-radius: 8px;
    font-size: 1em;
    font-weight: 400;
}

.search_bar_btn {
    display: flex;
    align-items: center;
    padding: 12px 36px;
    border-radius: 8px;
    border-style: none;
    gap: 8px;
    color: #fff;
    background-color: hsl(var(--primary-color-hs), 45%);
    margin-left: 12px;
    font-weight: 500;
}

.homepage_wrapper {
    display: flex;
    margin-top: 24px;
}

.product_filters_wrapper {
    min-width: 256px;
    margin-right: 36px;
    padding-bottom: 36px;
}

.product_list_wrapper {
    flex-grow: 1;
    padding-bottom: 36px;
}