@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000;
}

.navbar_main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    box-sizing: border-box;
    padding: 0 48px;
}

.navbar_search_bar {
    display: flex;
    align-items: flex-end;
}

.search_icon {
    margin-bottom: 8px;
    margin-right: 8px;
}

.navbar_search {
    margin-left: 10px;
    float: right;
    font-size: 15px;
    font-weight: 600;
}

.form__group {
    position: relative;
}

.form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    outline: 0;
    font-size: 0.9em;
    font-weight: 500;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}

.form__field::placeholder {
    color: transparent;
}

.form__field:placeholder-shown ~ .form__label {
    font-size: 1em;
    cursor: text;
    top: 5px;
}

label,
.form__field:focus ~ .form__label {
    position: absolute;
    top: -12px;
    display: block;
    transition: 0.2s;
    font-size: 0.9em;
    font-weight: 600;
}

.form__field:focus ~ .form__label {
    color: #b53471;
}

.form__field:focus {
    padding-bottom: 6px;
    border-bottom: 2px solid #b53471;
}
.app_name {
    font-size: 21px;
    font-weight: 500;
    text-decoration: none;
    color: black;
    font-family: "Lato", sans-serif;
    font-weight: 500;

    & b {
        font-size: 25px;
        font-weight: 900;
    }
}

.navbar_icon_button {
    margin-right: 10px;
    float: left;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 35px;
    font-size: 15px;
    background: none;
    transition: background 0.225s ease;

    &:hover {
        background-color: #e9e9e9;
    }

    &:last-of-type{
        margin-right: 0;
    }
}

.navbar_buttons_mobile {
    display: none;
}

.menu-icon {
    cursor: pointer;
}

.menu-btn {
    display: none;
}

.menu-btn:checked ~ .menu {
    max-height: 240px;
}

.navbar_bottom_border {
    position: relative;
    width: 100%;
    min-height: 1px;

    &::before {
        content: "";
        display: block;
        margin: auto;
        background: rgba(0, 0, 0, 0.2);
        height: 1px;
        width: calc(100% - 96px);
    }
}

.profile_dropdown_list {
    list-style: none;
}

.profile_dropdown_action_wrapper {
}

.profile_dropdown_action {
    transition: background .225s ease;
    background-color: transparent;
    border-style: none;
    border-radius: 8px;
    width: 100%;
    text-align: left;
    padding: 8px;
    font-size: 1em;

    &:hover {
        background-color: rgba(181, 52, 113, .3);
    }
}

@media (max-width: 768px) {
    .navbar_buttons_mobile {
        display: block;
    }

    .navbar_search_bar {
        display: none;
    }

    .navbar_buttons {
        display: none;
    }

    .navbar_categories_filter {
        display: none;
    }
}