
<div class="navbar">
  <div class="navbar_left">
    <a class="app_title" href="/#">
      <div class="app_name">ACI Rental</div>
    </a>
  </div>
  <div class="navbar_right">
    <button class="navbar_profile_btn">
      <div class="navbar_profile_picture">
        <i class="fa-solid fa-j"></i>
      </div>
      <div #profileButton class="navbar_profile_name" *ngIf="userProfile">{{ userProfile.username }}</div>
      <span class="navbar_profile_icon">
        <i class="fa-regular fa-angle-down"></i>
      </span>
    </button>
  </div>
</div>

<app-dropdown [(open)]="open" [anchor]="profileButton" [offset]="{ y: 40 }">
  <ul class="profile_dropdown_list">
    <li class="profile_dropdown_action_wrapper">
      <button class="profile_dropdown_action">Logout</button>
    </li>
  </ul>
</app-dropdown>