$height-header: 50px;
$height-footer: 50px;
$width-sidenav: 240px;

// Dashboard content wrapper
.main {
    grid-area: main;
    background-color: #fff;

    &__cards {
        display: block;
        column-count: 1;
        column-gap: 20px;
        margin: 20px 0;
    }
}

.main-header {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 250px;
    background-size: cover;
    margin-bottom: 20px;

    &__intro-wrapper {
        margin-top: 25px;
        display: flex;
        flex: 1;
        flex-direction: column; // Mobile-first; break out to row on medium + screens
        align-items: center;
        justify-content: space-between;
        height: 160px;
        padding: 12px 0;
        background: rgba(255, 255, 255, 0.12);
        font-size: 26px;
        letter-spacing: 1px;
    }

    &__welcome {
        display: flex;
        flex-direction: column;
        align-items: center;

        &-title {
            margin-bottom: 8px;
            font-size: 26px;
        }

        &-subtitle {
            font-size: 18px;
        }
    }
}

// Main header quick view update items
.quickview {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 60px;
    align-items: center;

    &__item {
        display: flex;
        align-items: center;
        flex-direction: column;

        &-btn {
            font-size: 16px;
            padding: 8px;
            border-radius: 8px;
            color: white;
            font-weight: 500;
            background-color: hsl(var(--primary-color-hs), 45%);
            border-style: none;
            cursor: pointer;
        }

        &-total {
            margin-bottom: 2px;
            font-size: 32px;
        }

        &-description {
            font-size: 16px;
            text-align: center;
        }
    }
}

// Overview quicklink cards container
.main-overview {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(265px, 1fr));
    grid-auto-rows: 94px;
    grid-gap: 30px;
}

.overviewCard {
    display: flex;
    align-items: center;
    padding: 12px;
    transform: translateY(0);
    transition: all 0.3s;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
        rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border-radius: 15px;

    &-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 60px;
        width: 60px;
        border-radius: 50%;
        font-size: 2em;
    }

    &-description {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &-title {
        font-size: 18px;
        margin: 0;
    }

    &-subtitle {
        margin: 2px;
    }

    &:hover {
        transform: translateY(-2px);
        cursor: pointer;
    }
}

.card {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #fff;
    margin-bottom: 20px;
    -webkit-column-break-inside: avoid;
    border-radius: 15px;

    &_wrapper {
        border-radius: 15px;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
            rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 50px;
        background-color: hsl(var(--primary-color-hs), 45%);
        color: #fff;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;

        &-title {
            margin: 0 20px;
            font-size: 20px;
        }

        &-link {
            margin-left: 8px;
            font-size: 16px;
            letter-spacing: normal;
            display: inline-block;
            color: #e3e3e3;
        }
    }

    &__main {
        position: relative;
        background-color: #fff;
    }

    &__secondary {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        grid-auto-rows: 100px;
        grid-gap: 25px;
        padding: 20px;
        background-color: #fff;
    }

    &__photo {
        background-size: cover;
        background-repeat: no-repeat;
        background-color: slategray;
        // overflow: hidden;
        transform: scale(1);
        transition: transform 0.3s ease-in-out;
        width: 100%;
        height: 100%;

        &:hover {
            transform: scale(1.1);
            cursor: pointer;
        }
    }

    &__photo-wrapper {
        overflow: hidden;
    }

    &__row {
        position: relative;
        display: flex;
        flex: 1;
        margin: 15px 0 20px;
    }

    &__icon {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        content: "";
        width: 30px;
        height: 30px;
        top: 0;
        left: 121px;
        transform: translateX(-50%);
        border-radius: 50%;
        color: #fff;
        background-color: #292929;
        z-index: 1;
    }

    &__row:nth-child(even) {
        .card__icon {
            background-color: reds;
        }
    }

    &__time {
        display: flex;
        flex: 1;
        justify-content: flex-end;
        max-width: 80px;
        margin-left: 15px;
        text-align: right;
        font-size: 14px;
        line-height: 2;
    }

    &__detail {
        display: flex;
        flex: 1;
        flex-direction: column;
        padding-left: 12px;
        margin-left: 48px;
        transform: translateX(0);
        transition: all 0.3s;

        &:hover {
            background-color: #f0f0f0;
            transform: translateX(4px);
            cursor: pointer;
        }
    }

    &__source {
        line-height: 1.8;
    }

    &__description {
    }

    &__note {
        margin: 10px 0;
    }

    &--finance {
        position: relative;
    }
}

// Mobile screen breakpoints (750px)
@media only screen and (min-width: 46.875em) {
    // Break out to sidenav grid layout on medium + screens
    .grid {
        display: grid;
        grid-template-columns: $width-sidenav calc(100% - 240px); // Charts responsiveness won't work with fr units
        grid-template-rows: $height-header 1fr $height-footer;
        grid-template-areas:
            "sidenav header"
            "sidenav main"
            "sidenav footer";
        height: 100vh;
    }

    .sidenav {
        position: relative;
        transform: translateX(0);

        &__brand-close {
            visibility: hidden;
        }
    }

    .header {
        &__menu {
            display: none;
        }

        &__search {
            margin-left: 20px; // No menu icon; move 'er back over
        }

        &__avatar {
            width: 40px;
            height: 40px;
        }
    }
}

// Medium screens breakpoint (1050px)
@media only screen and (min-width: 65.625em) {
    .main {
        &__cards {
            column-count: 2;
        }
    }

    .main-header {
        &__intro-wrapper {
            flex-direction: row;
        }

        &__welcome {
            align-items: flex-start;
        }
    }
}
