.modal_overlay {
    position: fixed;
    inset: 0;
    display: flex;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1020;
    overflow-y: auto;
    justify-content: center;
    align-items: center;
    animation-duration: 0.225s !important;

    &.hidden {
        animation-duration: 0.225s !important;
        pointer-events: none;
    }
}

.modal {
    position: relative;
    min-width: 300px;
    height: fit-content;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    padding: 12px;
    animation-duration: 0.225s !important;
}
