<div class="page_filter">
  <p class="total_found">2480 Items Found</p>
  <div class="filter_container">
    <div class="filter active">
      <button class="header">
        <p class="name">Categories</p>
      </button>
      <ul class="list">
        <li class="checkbox">
          <input type="checkbox" />
          <label>All</label>
        </li>
        <li class="checkbox">
          <input type="checkbox" />
          <label>Fantasy</label>
        </li>
        <li class="checkbox">
          <input type="checkbox" />
          <label>Horror</label>
        </li>
        <li class="checkbox">
          <input type="checkbox" />
          <label>Science Fiction</label>
        </li>
      </ul>
    </div>
    <div class="filter">
      <button class="header">
        <p class="name">Language</p>
      </button>
      <ul class="list">
        <li class="checkbox">
          <input type="checkbox" />
          <label>All</label>
        </li>
        <li class="checkbox">
          <input type="checkbox" />
          <label>Fantasy</label>
        </li>
        <li class="checkbox">
          <input type="checkbox" />
          <label>Horror</label>
        </li>
        <li class="checkbox">
          <input type="checkbox" />
          <label>Science Fiction</label>
        </li>
      </ul>
    </div>
    <div class="filter">
      <button class="header">
        <p class="name">Format</p>
      </button>
      <ul class="list">
        <li class="checkbox">
          <input type="checkbox" />
          <label>All</label>
        </li>
        <li class="checkbox">
          <input type="checkbox" />
          <label>Fantasy</label>
        </li>
        <li class="checkbox">
          <input type="checkbox" />
          <label>Horror</label>
        </li>
        <li class="checkbox">
          <input type="checkbox" />
          <label>Science Fiction</label>
        </li>
      </ul>
    </div>
    <div class="filter">
      <button class="header">
        <p class="name">Year of Publication</p>
      </button>
      <ul class="list">
        <li class="checkbox">
          <input type="checkbox" />
          <label>All</label>
        </li>
        <li class="checkbox">
          <input type="checkbox" />
          <label>Fantasy</label>
        </li>
        <li class="checkbox">
          <input type="checkbox" />
          <label>Horror</label>
        </li>
        <li class="checkbox">
          <input type="checkbox" />
          <label>Science Fiction</label>
        </li>
      </ul>
    </div>
    <div class="filter">
      <button class="header">
        <p class="name">Price</p>
      </button>
      <ul class="list">
        <li class="checkbox">
          <input type="checkbox" />
          <label>All</label>
        </li>
        <li class="checkbox">
          <input type="checkbox" />
          <label>Fantasy</label>
        </li>
        <li class="checkbox">
          <input type="checkbox" />
          <label>Horror</label>
        </li>
        <li class="checkbox">
          <input type="checkbox" />
          <label>Science Fiction</label>
        </li>
      </ul>
    </div>
  </div>
</div>
