<div class="product_list">
  <div class="list_actions">
    <button class="active">Grid View</button>
    <button class="active">List View</button>
    <button>
      <p>Sort</p>
    </button>
  </div>
  <div class="list">
    <div class="product">
      <img
        src="https://www.rituals.com/dw/image/v2/BBKL_PRD/on/demandware.static/-/Library-Sites-RitualsSharedContent/default/dw4e746267/Magazine/8dd6e14f-17cc-4b7a-a448-e79f70c0c8cf.jpg?sw=285&sh=370&sm=fit&cx=0&cy=0&cw=545&ch=707&sfrm=png"
        alt=""
      />
      <div class="info">
        <a href="/#" class="title"> My book cover </a>
        <pre class="description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec iaculis dui. Ut et felis ullamcorper, tempus magna id, consectetur erat. Vivamus sed urna dictum, porttitor felis id, dapibus nunc. Mauris vel dolor viverra, auctor mauris rhoncus, convallis magna. Suspendisse efficitur orci elit, et tincidunt nulla placerat scelerisque. Praesent fermentum pulvinar erat, sed imperdiet nisl elementum ac. Quisque auctor ornare pretium. Vivamus turpis ex, scelerisque eu ligula at, fringilla facilisis orci.
Aliquam cursus suscipit laoreet. Curabitur non magna pharetra, luctus sapien a, ultrices eros. Vestibulum volutpat ullamcorper nisi, eu ultrices nunc faucibus hendrerit. Sed vitae condimentum velit, nec placerat nisi. Maecenas posuere tortor turpis, at mollis est ullamcorper eu. Donec scelerisque nunc vitae nisi cursus scelerisque. Pellentesque interdum justo leo, vel scelerisque augue ornare nec. Cras aliquam velit mauris, sit amet facilisis diam eleifend a.
                  
          </pre
        >
        <div class="more">
          <a href="/#">
            <p>Read more</p>
          </a>
        </div>
      </div>
      <div class="options">
        <div class="top">
          <div class="reviews">
            <ul class="stars">
              <li class="star"></li>
              <li class="star"></li>
              <li class="star"></li>
              <li class="star"></li>
              <li class="star"></li>
            </ul>
            <a href="/#" class="total_count">
              <p>1,240 Reviews</p>
            </a>
          </div>
          <button class="wishlist_btn"></button>
        </div>
        <div class="bottom">
          <p class="price">$10</p>
          <button class="purchase_btn">Buy</button>
        </div>
      </div>
    </div>
    <hr />
    <div class="product">
      <img
        src="https://www.rituals.com/dw/image/v2/BBKL_PRD/on/demandware.static/-/Library-Sites-RitualsSharedContent/default/dw4e746267/Magazine/8dd6e14f-17cc-4b7a-a448-e79f70c0c8cf.jpg?sw=285&sh=370&sm=fit&cx=0&cy=0&cw=545&ch=707&sfrm=png"
        alt=""
      />
      <div class="info">
        <a href="/#" class="title"> My book cover </a>
        <pre class="description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec iaculis dui. Ut et felis ullamcorper, tempus magna id, consectetur erat. Vivamus sed urna dictum, porttitor felis id, dapibus nunc. Mauris vel dolor viverra, auctor mauris rhoncus, convallis magna. Suspendisse efficitur orci elit, et tincidunt nulla placerat scelerisque. Praesent fermentum pulvinar erat, sed imperdiet nisl elementum ac. Quisque auctor ornare pretium. Vivamus turpis ex, scelerisque eu ligula at, fringilla facilisis orci.
Aliquam cursus suscipit laoreet. Curabitur non magna pharetra, luctus sapien a, ultrices eros. Vestibulum volutpat ullamcorper nisi, eu ultrices nunc faucibus hendrerit. Sed vitae condimentum velit, nec placerat nisi. Maecenas posuere tortor turpis, at mollis est ullamcorper eu. Donec scelerisque nunc vitae nisi cursus scelerisque. Pellentesque interdum justo leo, vel scelerisque augue ornare nec. Cras aliquam velit mauris, sit amet facilisis diam eleifend a.
                  
          </pre
        >
        <div class="more">
          <a href="/#">
            <p>Read more</p>
          </a>
        </div>
      </div>
      <div class="options">
        <div class="top">
          <div class="reviews">
            <ul class="stars">
              <li class="star"></li>
              <li class="star"></li>
              <li class="star"></li>
              <li class="star"></li>
              <li class="star"></li>
            </ul>
            <a href="/#" class="total_count">
              <p>1,240 Reviews</p>
            </a>
          </div>
          <button class="wishlist_btn"></button>
        </div>
        <div class="bottom">
          <p class="price">$10</p>
          <button class="purchase_btn">Buy</button>
        </div>
      </div>
    </div>
    <hr />
    <div class="product">
      <img
        src="https://www.rituals.com/dw/image/v2/BBKL_PRD/on/demandware.static/-/Library-Sites-RitualsSharedContent/default/dw4e746267/Magazine/8dd6e14f-17cc-4b7a-a448-e79f70c0c8cf.jpg?sw=285&sh=370&sm=fit&cx=0&cy=0&cw=545&ch=707&sfrm=png"
        alt=""
      />
      <div class="info">
        <a href="/#" class="title"> My book cover </a>
        <pre class="description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec iaculis dui. Ut et felis ullamcorper, tempus magna id, consectetur erat. Vivamus sed urna dictum, porttitor felis id, dapibus nunc. Mauris vel dolor viverra, auctor mauris rhoncus, convallis magna. Suspendisse efficitur orci elit, et tincidunt nulla placerat scelerisque. Praesent fermentum pulvinar erat, sed imperdiet nisl elementum ac. Quisque auctor ornare pretium. Vivamus turpis ex, scelerisque eu ligula at, fringilla facilisis orci.
Aliquam cursus suscipit laoreet. Curabitur non magna pharetra, luctus sapien a, ultrices eros. Vestibulum volutpat ullamcorper nisi, eu ultrices nunc faucibus hendrerit. Sed vitae condimentum velit, nec placerat nisi. Maecenas posuere tortor turpis, at mollis est ullamcorper eu. Donec scelerisque nunc vitae nisi cursus scelerisque. Pellentesque interdum justo leo, vel scelerisque augue ornare nec. Cras aliquam velit mauris, sit amet facilisis diam eleifend a.
                  
          </pre
        >
        <div class="more">
          <a href="/#">
            <p>Read more</p>
          </a>
        </div>
      </div>
      <div class="options">
        <div class="top">
          <div class="reviews">
            <ul class="stars">
              <li class="star"></li>
              <li class="star"></li>
              <li class="star"></li>
              <li class="star"></li>
              <li class="star"></li>
            </ul>
            <a href="/#" class="total_count">
              <p>1,240 Reviews</p>
            </a>
          </div>
          <button class="wishlist_btn"></button>
        </div>
        <div class="bottom">
          <p class="price">$10</p>
          <button class="purchase_btn">Buy</button>
        </div>
      </div>
    </div>
    <hr />
    <div class="product">
      <img
        src="https://www.rituals.com/dw/image/v2/BBKL_PRD/on/demandware.static/-/Library-Sites-RitualsSharedContent/default/dw4e746267/Magazine/8dd6e14f-17cc-4b7a-a448-e79f70c0c8cf.jpg?sw=285&sh=370&sm=fit&cx=0&cy=0&cw=545&ch=707&sfrm=png"
        alt=""
      />
      <div class="info">
        <a href="/#" class="title"> My book cover </a>
        <pre class="description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec iaculis dui. Ut et felis ullamcorper, tempus magna id, consectetur erat. Vivamus sed urna dictum, porttitor felis id, dapibus nunc. Mauris vel dolor viverra, auctor mauris rhoncus, convallis magna. Suspendisse efficitur orci elit, et tincidunt nulla placerat scelerisque. Praesent fermentum pulvinar erat, sed imperdiet nisl elementum ac. Quisque auctor ornare pretium. Vivamus turpis ex, scelerisque eu ligula at, fringilla facilisis orci.
Aliquam cursus suscipit laoreet. Curabitur non magna pharetra, luctus sapien a, ultrices eros. Vestibulum volutpat ullamcorper nisi, eu ultrices nunc faucibus hendrerit. Sed vitae condimentum velit, nec placerat nisi. Maecenas posuere tortor turpis, at mollis est ullamcorper eu. Donec scelerisque nunc vitae nisi cursus scelerisque. Pellentesque interdum justo leo, vel scelerisque augue ornare nec. Cras aliquam velit mauris, sit amet facilisis diam eleifend a.
                  
          </pre
        >
        <div class="more">
          <a href="/#">
            <p>Read more</p>
          </a>
        </div>
      </div>
      <div class="options">
        <div class="top">
          <div class="reviews">
            <ul class="stars">
              <li class="star"></li>
              <li class="star"></li>
              <li class="star"></li>
              <li class="star"></li>
              <li class="star"></li>
            </ul>
            <a href="/#" class="total_count">
              <p>1,240 Reviews</p>
            </a>
          </div>
          <button class="wishlist_btn"></button>
        </div>
        <div class="bottom">
          <p class="price">$10</p>
          <button class="purchase_btn">Buy</button>
        </div>
      </div>
    </div>
    <hr />
  </div>
</div>
