<header class="product_list_wrapper_head">
  <div class="product_list_results">Results: 45 products found</div>
  <div class="product_list_actions">
    <button class="product_list_action selected">
      <i class="fa-solid fa-list"></i>
    </button>
    <button class="product_list_action">
      <i class="fa-solid fa-grid-2"></i>
    </button>
    <button class="product_list_filters_btn">
      <i class="fa-solid fa-filter"></i>
      <div>Filters</div>
    </button>
  </div>
</header>
<div class="product_list">
  <div class="product_wrapper">
    <div class="product_image_wrapper">
      <img
        class="product_image"
        src="https://user-images.githubusercontent.com/2351721/31314483-7611c488-ac0e-11e7-97d1-3cfc1c79610e.png"
        alt=""
      />
    </div>
    <div class="product_info">
      <div class="product_info_header">
        <div class="product_name">Random Camera</div>
        <div class="product_availability">
          <div class="availability_tag available">Available</div>
          <!-- 
              <div class="availability_tag unavailable">Unavailable</div>
              -->
        </div>
      </div>
      <div class="product_description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ac
        semper tortor. Duis hendrerit nulla et luctus iaculis. Suspendisse
        placerat libero felis, eleifend tempor est semper non. Vestibulum rutrum
        gravida arcu, eget tristique diam convallis laoreet. Fusce vel metus
        sollicitudin, pharetra diam sed, pellentesque urna. Cras sit amet
        lobortis nisl. Duis sapien ligula, sodales non suscipit nec, condimentum
        eget odio. Pellentesque habitant morbi tristique senectus et netus et
        malesuada fames ac turpis egestas. Suspendisse bibendum diam tincidunt
        aliquet ultrices. Aenean tristique convallis enim, id mollis mi
        ullamcorper non. In finibus dignissim massa, nec vestibulum sem
        elementum in. Proin egestas porta urna, non accumsan lacus vestibulum
        id. Nulla vulputate massa magna, tempus laoreet ligula pretium vitae.
        Cras a libero et nunc tempus venenatis. Donec aliquam tincidunt nunc sit
        amet maximus. Nulla elementum rhoncus nulla, at posuere metus egestas
        quis. Mauris et viverra enim.
        <div class="product_description_read_more">
          <button class="product_description_read_more_btn">Read more</button>
        </div>
      </div>
    </div>
    <div class="product_buttons">
      <button class="product_button">
        <i class="fa-solid fa-calendar-range"></i>
        <div>Rent</div>
      </button>
    </div>
  </div>
</div>
