.product_list_wrapper_head {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 44px;
}

.product_list_results {
    color: rgba(0, 0, 0, 0.76);
    font-weight: 600;
    font-size: 0.9em;
}

.product_list_actions {
    display: flex;
    align-items: center;
    gap: 12px;
}

.product_list_action {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    color: rgba(0, 0, 0, 0.36);
    border-radius: 8px;
    border-style: none;
    background-color: transparent;
    border: 2px solid rgba(0, 0, 0, 0.36);
    font-size: 1em;
}

.product_list_action.selected {
    background-color: hsl(var(--primary-color-hs), 45%);
    border: 2px solid hsl(var(--primary-color-hs), 45%);
    color: #fff;
}

.product_list_filters_btn {
    display: none;
    align-items: center;
    height: 40px;
    padding: 0 16px;
    color: rgba(0, 0, 0, 0.36);
    border-radius: 8px;
    border-style: none;
    background-color: transparent;
    border: 2px solid rgba(0, 0, 0, 0.36);
    font-size: 1em;
    gap: 8px;
}

.product_list_filters_btn.active {
    background-color: hsl(var(--primary-color-hs), 45%);
    border: 2px solid hsl(var(--primary-color-hs), 45%);
    color: #fff;
}

.product_list {
    margin-top: 28px;
}

.product_wrapper {
    display: flex;
    padding: 16px 0;
    max-height: 250px;
    overflow: hidden;
}

.product_wrapper.card {
    overflow: visible;
    padding: 8px;
    padding-top: 0;
    flex-wrap: wrap;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2), 0 5px 10px 0 rgba(0, 0, 0, 0.1);
    max-height: unset;
    max-width: 300px;
    border-radius: 8px;
}

.product_wrapper.card .product_image_wrapper {
    margin: 0;
}

.product_image_wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    min-width: 100px;
    margin-right: 16px;
}

.product_image {
    object-fit: cover;
    border-radius: 8px;
    max-height: 250px;
    width: 100%;
}

.product_wrapper.card .product_image {
    width: calc(100% + 24px);
    max-height: unset;
    transform: translateX(-12px);
    margin-bottom: 12px;
}

.product_wrapper.card .product_info {
    margin: 0;
    width: 80%;
}

.product_info {
    margin-right: 16px;
    position: relative;
    flex-grow: 1;
    min-width: 50%;
    max-width: 70%;
    display: flex;
    flex-direction: column;
}

.product_wrapper.card .product_info_header {
    display: block;
}

.product_info_header {
    display: flex;
    gap: 12px;
}

.product_name {
    font-weight: 600;
    font-size: 1.1em;
    margin-bottom: 4px;
}

.product_availability {
    display: flex;
    align-items: center;
}

.availability_tag {
    margin-right: 4px;
    font-size: 0.9em;
    padding: 4px 8px;
    border-radius: 16px;
    background-color: rgba(0, 0, 0, 0.16);
    font-weight: 500;
}

.availability_tag.unavailable {
    background-color: hsl(358, 83%, 82%);
    color: hsl(358, 83%, 52%);
}

.availability_tag.available {
    background-color: hsl(140, 100%, 79%);
    color: hsl(140, 100%, 29%);
}

.product_wrapper.card .product_description {
    display: none;
}

.product_description {
    margin-top: 12px;
}

.product_description_read_more {
    padding-bottom: 16px;
    display: flex;
    align-items: flex-end;
    position: absolute;
    bottom: -16px;
    left: 0;
    right: 0;
    height: 110px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 45%, rgba(0, 0, 0, 0) 100%);
}

.product_description_read_more_btn {
    color: rgba(0, 0, 0, 0.76);
    font-weight: 600;
    font-size: 1.05em;
    background-color: transparent;
    border: none;
}

.product_wrapper.card .product_buttons {
    width: 20%;
    min-width: unset;
    justify-content: flex-end;
}

.product_buttons {
    min-width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product_wrapper.card .product_button {
    padding: 8px;
}

.product_button {
    display: flex;
    align-items: center;
    padding: 12px 36px;
    border-radius: 8px;
    border-style: none;
    gap: 8px;
    color: #fff;
    background-color: hsl(var(--primary-color-hs), 45%);
    margin-left: 12px;
    font-weight: 500;
}
