<header class="product_list_wrapper_head">
  <div class="product_list_results">
    Results: {{ products?.length }} products found
  </div>
  <div class="product_list_actions">
    <button class="product_list_filters_btn" (click)="openFilters()">
      <i class="fa-solid fa-filter"></i>
      <div>Filters</div>
    </button>
  </div>
</header>
<div class="product_list">
  <div *ngFor="let product of products" class="product">
    <img
      class="product_image"
      src="https://user-images.githubusercontent.com/2351721/31314483-7611c488-ac0e-11e7-97d1-3cfc1c79610e.png"
      alt=""
    />
    <div class="product_info">
      <div class="product_name">
        {{ product.name }}

        <div class="product_availability">
          <div class="availability_tag available">
            Available starting from
            {{ moment(moment().add(5, "d")).format("MMM Do YYYY") }}
          </div>
        </div>
      </div>
      <div *ngIf="product?.description" class="product_description">
        {{ product.description }}
      </div>
      <div class="product_description_read_more">Read more...</div>
    </div>
    <div class="product_action">
      <button class="product_rent_btn" (click)="openModal(product)">
        <i class="fa-regular fa-calendar-range"></i>
        Rent
      </button>
    </div>
  </div>
</div>

<app-modal [(open)]="modalOpen" [name]="'product'">
  <header class="modal_header">
    <div class="modal_header_title">{{ product?.name }}</div>
  </header>
  <div class="product_modal_content">
    <img
      class="product_modal_image"
      src="https://user-images.githubusercontent.com/2351721/31314483-7611c488-ac0e-11e7-97d1-3cfc1c79610e.png"
      alt=""
    />
    <div class="product_modal_options">
      <app-date-range></app-date-range>
      <button class="product_rent_btn" (click)="reserveProduct()">
        <i class="fa-regular fa-calendar-range"></i>
        Rent
      </button>
    </div>
  </div>
  <div class="product_modal_extra">
    <div class="product_description_title">Product description</div>
    <div class="product_modal_description">{{ product?.description }}</div>
  </div>
</app-modal>
