<div class="product_filters_backdrop"></div>
<button class="product_filters_close_btn">
  <i class="fa-solid fa-xmark"></i>
</button>
<header class="product_list_wrapper_head">
  <div class="product_filters_title">Filters</div>
  <div class="product_filters_reset">Reset filters</div>
  <div class="product_filters_underline"></div>
</header>
<div class="product_filters">
  <!-- Date range -->
  <div class="date_time_picker">
    <div class="product_filter_title">Renting period</div>
    <div class="datepicker">
      <div class="datepicker-top">
        <div class="month-selector">
          <button class="arrow">
            <i class="fa-solid fa-angle-left"></i>
          </button>
          <span class="month-name">April 2022</span>
          <button class="arrow">
            <i class="fa-solid fa-angle-right"></i>
          </button>
        </div>
      </div>
      <div class="datepicker-calendar">
        <span class="day">Mo</span>
        <span class="day">Tu</span>
        <span class="day">We</span>
        <span class="day">Th</span>
        <span class="day">Fr</span>
        <span class="day">Sa</span>
        <span class="day">Su</span>
        <button class="date faded">30</button>
        <button class="date">1</button>
        <button class="date">2</button>
        <button class="date">3</button>
        <button class="date">4</button>
        <button class="date">5</button>
        <button class="date">6</button>
        <button class="date">7</button>
        <button class="date">8</button>
        <button class="date">9</button>
        <button class="date">10</button>
        <button class="date">11</button>
        <button class="date current-day">12</button>
        <button class="date">13</button>
        <button class="date">14</button>
        <button class="date">15</button>
        <button class="date">16</button>
        <button class="date">17</button>
        <button class="date">18</button>
        <button class="date">19</button>
        <button class="date">20</button>
        <button class="date">21</button>
        <button class="date">22</button>
        <button class="date">23</button>
        <button class="date">24</button>
        <button class="date">25</button>
        <button class="date">26</button>
        <button class="date">27</button>
        <button class="date">28</button>
        <button class="date">29</button>
        <button class="date">30</button>
        <button class="date">31</button>
        <button class="date faded">1</button>
        <button class="date faded">2</button>
        <button class="date faded">3</button>
      </div>
    </div>
  </div>
</div>
<!-- Categories -->
<div class="product_filter">
  <button class="product_filter_title">
    <div>Categories</div>
    <i class="fa-solid fa-angle-down"></i>
  </button>
  <ul class="product_filter_options">
    <li class="product_filter_option">
      <input class="product_filter_checkbox" type="checkbox" id="one" />
      <label class="product_filter_label" for="one">
        <span></span> Photo cameras
      </label>
    </li>
    <li class="product_filter_option">
      <input class="product_filter_checkbox" type="checkbox" id="two" />
      <label class="product_filter_label" for="two">
        <span></span> Video cameras
      </label>
    </li>
    <li class="product_filter_option">
      <input class="product_filter_checkbox" type="checkbox" id="three" />
      <label class="product_filter_label" for="three">
        <span></span> Camera lenses
      </label>
    </li>
    <li class="product_filter_option">
      <input class="product_filter_checkbox" type="checkbox" id="four" />
      <label class="product_filter_label" for="four">
        <span></span> Tripods
      </label>
    </li>
  </ul>
</div>
<!-- Availability -->
<div class="product_filter">
  <button class="product_filter_title">
    <div>Availability</div>
    <i class="fa-solid fa-angle-down"></i>
  </button>
  <ul class="product_filter_options">
    <li class="product_filter_option">
      <input
        class="product_filter_radio_input"
        type="radio"
        id="radio-one"
        name="availability"
      />
      <label class="product_filter_radio_label" for="radio-one">
        <span></span> All
      </label>
    </li>
    <li class="product_filter_option">
      <input
        class="product_filter_radio_input"
        type="radio"
        id="radio-two"
        name="availability"
      />
      <label class="product_filter_radio_label" for="radio-two">
        <span></span> Available
      </label>
    </li>
    <li class="product_filter_option">
      <input
        class="product_filter_radio_input"
        type="radio"
        id="radio-three"
        name="availability"
      />
      <label class="product_filter_radio_label" for="radio-three">
        <span></span> Unavailable
      </label>
    </li>
  </ul>
</div>
