<div class="product_filters_backdrop"></div>
<button class="product_filters_close_btn">
  <i class="fa-solid fa-xmark"></i>
</button>
<header class="product_list_wrapper_head">
  <div class="product_filters_title">Filters</div>
  <div class="product_filters_reset">Reset filters</div>
  <div class="product_filters_underline"></div>
</header>
<div class="product_filters">
  <!-- Date range -->
  <div class="date_time_picker">
    <div class="product_filter_title">Renting period</div>
    <app-date-range></app-date-range>
  </div>
</div>
<!-- Categories -->
<div class="product_filter">
  <button class="product_filter_title">
    <div>Categories</div>
    <i class="fa-solid fa-angle-down"></i>
  </button>
  <ul class="product_filter_options">
    <li *ngFor="let category of categories" class="product_filter_option">
      <input
        class="product_filter_checkbox"
        type="checkbox"
        id="categories.name"
      />
      <label class="product_filter_label" for="categories.name">
        <span></span> {{ category.name }}
      </label>
    </li>
  </ul>
</div>
<!-- Availability -->
<div class="product_filter">
  <button class="product_filter_title">
    <div>Availability</div>
    <i class="fa-solid fa-angle-down"></i>
  </button>
  <ul class="product_filter_options">
    <li class="product_filter_option">
      <input
        class="product_filter_radio_input"
        type="radio"
        id="radio-one"
        name="availability"
      />
      <label class="product_filter_radio_label" for="radio-one">
        <span></span> All
      </label>
    </li>
    <li class="product_filter_option">
      <input
        class="product_filter_radio_input"
        type="radio"
        id="radio-two"
        name="availability"
      />
      <label class="product_filter_radio_label" for="radio-two">
        <span></span> Available
      </label>
    </li>
    <li class="product_filter_option">
      <input
        class="product_filter_radio_input"
        type="radio"
        id="radio-three"
        name="availability"
      />
      <label class="product_filter_radio_label" for="radio-three">
        <span></span> Unavailable
      </label>
    </li>
  </ul>
</div>
