<div class="product_filters_backdrop"></div>
<button class="product_filters_close_btn">
  <i class="fa-solid fa-xmark"></i>
</button>
<header class="product_list_wrapper_head">
  <div class="product_filters_title">Filters</div>
  <div class="product_filters_reset">Reset filters</div>
  <div class="product_filters_underline"></div>
</header>
<div class="product_filters">
  <!-- Date range filter -->
  <div class="date_time_picker">
    <header class="product_date_filter">
      <div class="product_filter_title">Renting period</div>
      <div
        class="product_filter_renting_period"
        [style.display]="
          startDate === 'Invalid date' || endDate === 'Invalid date'
            ? 'none'
            : 'block'
        "
      >
        ({{ startDate }} - {{ endDate }})
      </div>
    </header>
    <app-date-range></app-date-range>
  </div>
</div>
<!-- Other filters-->
<div
  *ngFor="let filter of filters"
  class="product_filter"
  [ngClass]="{ active: filter.open }"
>
  <button class="product_filter_title" (click)="toggleOpen(filter.name)">
    <div>{{ filter?.name }}</div>
    <i
      class="fa-solid"
      [ngClass]="{ 'fa-angle-up': filter.open, 'fa-angle-down': !filter.open }"
    ></i>
  </button>
  <ul class="product_filter_options" [ngClass]="{ active: filter.open }">
    <ng-container *ngIf="filter.type === 'checkbox'">
      <li *ngFor="let option of filter.options" class="product_filter_option">
        <input
          class="product_filter_checkbox"
          type="checkbox"
          id="{{ option.name }}"
          checked="{{
            filter.selected.includes(option.value) ? 'checked' : ''
          }}"
          (change)="updateFilter(filter.name, option.value)"
        />
        <label class="product_filter_label" for="{{ option.name }}">
          <span></span> {{ option.name }}
        </label>
      </li>
      <li *ngIf="filter.options.length < 1" class="no_filter_options">
        No options available
      </li>
    </ng-container>
    <ng-container *ngIf="filter.type === 'radio'">
      <li
        *ngFor="let option of filter.options; let i = index"
        class="product_filter_option"
      >
        <input
          class="product_filter_radio_input"
          type="radio"
          id="{{ 'radio-' + i }}"
          name="{{ filter.name }}"
          checked="{{ option.value === filter.selected ? 'checked' : '' }}"
          (change)="updateFilter(filter.name, option.value)"
        />
        <label class="product_filter_radio_label" for="{{ 'radio-' + i }}">
          <span></span> {{ option.name }}
        </label>
      </li>
      <li *ngIf="filter.options.length < 1" class="no_filter_options">
        No options available
      </li>
    </ng-container>
  </ul>
</div>
