.product_form {
    margin: auto;
    width: 100%;
    max-width: 900px;
    min-width: 350px;
}

.product_form_title {
    font-size: 1.4em;
    font-weight: 600;
    margin-bottom: 32px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap: 12px;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    min-width: 292px;

    &.space_between {
        justify-content: space-between;
    }
}

.form_field_wrapper {
    position: relative;
    margin-top: 1rem;
    margin-right: 8px;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    &:first-child {
        margin-top: 0;
    }

    &.success .form_field_label,
    &.success .form_field_hint {
      color: rgba(39, 174, 96, 1);
    }
  
    &.success .form_field {
      border: 2px solid rgba(39, 174, 96, 0.3);
      background-color: rgba(39, 174, 96, 0.05);
    }
  
    &.error .form_field_label,
    &.error .form_field_hint {
      color: rgba(231, 76, 60, 1);
    }
  
    &.error .form_field {
      border: 2px solid rgba(231, 76, 60, 0.3);
      background-color: rgba(231, 76, 60, 0.05);
    }
}

.form_field_inner_wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.form_field_hint {
    font-weight: 400;
    font-size: 0.6875rem;
    color: #a6a6a6;
    display: block;
    margin-bottom: 6px;
    transition: color 0.225s ease;

    &.error {
        margin-top: 6px;
        color: rgba(231, 76, 60, 1);
    }
}

.form_field_label {
    display: inline-block;
    margin-bottom: 4px;
    margin-left: 4px;
    font-weight: 500;
    opacity: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.9em;
    transition: color 0.225s ease;
}

.form_field {
    position: relative;
    border: 2px solid hsl(0, 0, 80%);
    background-color: hsl(0, 0, 95%);
    padding: 8px;
    display: block;
    border-radius: 8px;
    font-size: 0.95em;
    line-height: 1.5;
    width: 100%;
    box-shadow: none;
    transition: background 0.225s ease, border 0.225s ease;

    &:focus-within {
        outline: none;
    }

    &:disabled,
    &[disabled] {
        cursor: default;
        opacity: 0.7;
    }
}

.form_textarea {
    position: relative;
    border: 2px solid hsl(0, 0, 80%);
    background-color: hsl(0, 0, 95%);
    padding: 8px;
    display: block;
    border-radius: 8px;
    font-size: 0.95em;
    line-height: 1.5;
    width: 100%;
    box-shadow: none;
    transition: background 0.225s ease, border 0.225s ease;
    resize: none;
    overflow: hidden;
    min-height: 69px;
    flex-grow: 1;

    &:focus-within {
        outline: none;
    }

    &:disabled,
    &[disabled] {
        cursor: default;
        opacity: 0.7;
    }
}

.select {
    position: relative;
    display: inline-block;
    padding: 8px 40px 8px 15px;
    border-radius: 8px;
    width: 100%;
    border: 2px solid hsl(0, 0, 80%);
    background-color: hsl(0, 0, 95%);
    text-align: left;
    color: #444;
    font-size: 0.95em;
    cursor: pointer;
    user-select: none;

    &::before {
        content: "\f107";
        font: var(--fa-font-solid);
        position: absolute;
        top: 50%;
        right: 16px;
        transform: translateY(-50%);
    }

    &.active {
        & .select_options_list {
            opacity: 1;
            visibility: visible;
        }

        &::before {
            content: "\f106";
        }
    }
}

.select_options_list {
    position: absolute;
    z-index: 100;
    top: 140%;
    padding: 8px 0;
    right: 0;
    left: 0;
    border-radius: 8px;
    transition: 0.225s ease;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.select_option {
    padding: 8px 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    overflow: hidden;
    transition: 0.225s ease;
    user-select: none;

    &:hover {
        background-color: hsl(0, 0, 95%);
    }

    &:last-of-type {
        border-bottom: none;
    }
}

.image_preview {
    position: relative;
    width: fit-content;
}

.product_image {
    max-width: 100%;
    border-radius: 8px;
    object-fit: cover;
    margin-right: 12px;
}

.image_edit_btn {
    font-size: 1em;
    position: absolute;
    height: 45px;
    width: 45px;
    background-color: hsl(var(--primary-color-hs), 45%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
    top: -12px;
    right: -12px;
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.form_field_file {
    opacity: 0;
    width: 0;
    height: 0;
}

.form_checkbox {
    display: flex;
    padding: 4px 0;
    margin-top: 16px;
    margin-left: 4px;
    margin-bottom: 4px;
    align-items: flex-end;
}

.form_checkbox_label {
    cursor: pointer;
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.76);
    position: relative;
    font-weight: 500;
    font-size: 0.9em;
}

.checkbox {
    width: 0;
    height: 0;
    opacity: 0;
}

.form_checkbox_label:hover > span {
    border-color: hsl(var(--primary-color-hs), 45%);
}

.form_checkbox_label > span {
    width: 21px;
    height: 21px;
    display: flex;
    justify-content: center;
    border: 2px solid rgba(0, 0, 0, 0.56);
    margin-right: 8px;
    border-radius: 3px;
    transition: all 0.3s;
}

.checkbox:checked + .form_checkbox_label > span {
    border: 10.5px solid hsl(var(--primary-color-hs), 45%);
    animation: bounce 250ms;
}

.checkbox:checked + .form_checkbox_label > span::before {
    content: "";
    position: absolute;
    top: 7px;
    left: 4px;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    transform: rotate(45deg);
    transform-origin: 0% 100%;
    animation: checked-box 125ms 250ms forwards;
}

@keyframes checked-box {
    0% {
        width: 0;
        height: 0;
        border-color: #fff;
        transform: translate(0, 0) rotate(45deg);
    }
    33% {
        width: 4px;
        height: 0;
        border-color: #fff;
        transform: translate(0, 0) rotate(45deg);
    }
    100% {
        width: 4px;
        height: 8px;
        border-color: #fff;
        transform: translate(0, -8px) rotate(45deg);
    }
}

@keyframes bounce {
    0% {
        transform: scale(1);
    }
    33% {
        transform: scale(0.7);
    }
    100% {
        transform: scale(1);
    }
}

.product_form_submit {
    margin: 20px 0 0 auto;
    padding: 8px 12px;
    border-radius: 8px;
    border-style: none;
    background-color: hsl(var(--primary-color-hs), 45%);
    color: white;
    cursor: pointer;
    font-size: .9em;
    transition: background 0.225s ease;

    &:disabled,
    &[disabled] {
        cursor: default;
        background: hsl(var(--primary-color-hs), 85%);
    }
}
