<div class="product_form">
  <div class="form_field_wrapper form_input full_width" id="name">
    <label class="form_field_label" [attr.for]="'field-input'"> Label </label>
    <div [style.position]="'relative'">
      <input
        [id]="'field-input'"
        class="form_field"
        [attr.placeholder]="'test'"
        type="text"
        [attr.required]="false"
        value=""
        name="field-input"
      />
    </div>
    <small class="form_field_hint">some random hint</small>
  </div>
  <div class="form_field_wrapper form_input full_width" id="description">
    <label class="form_field_label" [attr.for]="'field-input'"> Label </label>
    <div [style.position]="'relative'">
      <input
        [id]="'field-input'"
        class="form_field"
        [attr.placeholder]="'test'"
        type="text"
        [attr.required]="false"
        value=""
        name="field-input"
      />
    </div>
    <small class="form_field_hint">some random hint</small>
  </div>
  <div class="form_field_wrapper form_input full_width" id="category">
    <label class="form_field_label" [attr.for]="'field-input'"> Label </label>
    <div
      class="select"
      [ngClass]="{ active: selectOpen }"
      (click)="openSelect()"
    >
      <span class="select_selection">
        {{ currentOption }}
      </span>
      <ul #optionsBx class="select_options_list">
        <li
          *ngFor="let option of options"
          class="select_option"
          (click)="changeOption(option.abbr)"
        >
          {{ option?.name }}
        </li>
      </ul>
    </div>
  </div>
  <div class="form_field_wrapper form_input full_width" id="picture">
    <label class="form_field_label" [attr.for]="'field-input'"> Label </label>
    <div [style.position]="'relative'">
      <input
        [id]="'field-input'"
        class="form_field"
        [attr.placeholder]="'test'"
        type="text"
        [attr.required]="false"
        value=""
        name="field-input"
      />
    </div>
    <small class="form_field_hint">some random hint</small>
  </div>
  <div class="form_checkbox" id="approval">
    <input class="checkbox" type="checkbox" id="product-approval" />
    <label class="form_checkbox_label" for="product-approval">
      <span></span> Requires approval
    </label>
  </div>
</div>
