/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

:root {
    --background-color-hs: 0, 0%;   
    --primary-color-hs: 332, 55%;
    --text-color-hs: 0, 0%;   
    --error-color-hs: 358, 83%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}

body {
    width: 100%;
}
li,
ul {
    list-style: none;
}

button {
    font: inherit;
    cursor: pointer;
}
*:focus {
    outline: 0;
}

.page_content {
    width: 100%;
    padding-top: 60px;
    padding-left: 64px;
    padding-right: 64px;
}
