<div class="table_wrapper">
  <header class="table_header">
    <div class="table_title">{{ title }}</div>
    <div class="table_filters">
      <div class="table_pagination_selector">
        <div class="form_field_wrapper">
          <div
            class="select"
            [ngClass]="{ active: selectOpen }"
            (click)="openSelect()"
          >
            <span class="select_selection">
              {{ rowsVisible }}
            </span>
            <ul #optionsBx class="select_options_list">
              <li
                *ngFor="let option of options"
                class="select_option"
                (click)="changeOption(option)"
              >
                {{ option }}
              </li>
            </ul>
          </div>
        </div>
        <div>records per page</div>
      </div>
      <div class="search_field_wrapper form_field_wrapper">
        <div [style.position]="'relative'">
          <input
            class="search_field"
            placeholder="Search any item..."
            type="text"
            [value]="search"
            (input)="searchTable($event)"
          />
          <div class="field_right_icon"></div>
        </div>
      </div>
    </div>
  </header>
  <table>
    <thead>
      <tr>
        <th
          *ngFor="let header of headers"
          (click)="sortTable(header)"
          [style.text-align]="checkAlignment(header)"
        >
          {{ header }}
          <i
            class="fa-solid header_sort"
            [style.color]="
              currentlySorting?.name === turnStringToCamelCase(header)
                ? '#000'
                : null
            "
            [ngClass]="{
              'fa-sort':
                currentlySorting?.name !== turnStringToCamelCase(header),
              'fa-sort-up':
                currentlySorting?.name === turnStringToCamelCase(header) &&
                currentlySorting?.order === 'asc',
              'fa-sort-down':
                currentlySorting?.name === turnStringToCamelCase(header) &&
                currentlySorting?.order === 'desc'
            }"
          ></i>
        </th>
        <th class="table_action_header" *ngIf="containsActions()">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of filterData()">
        <td
          [style.text-align]="row[turnStringToCamelCase(header)]?.align"
          [attr.data-name]="header"
          *ngFor="let header of headers"
        >
          <div
            *ngIf="!isBool(row[turnStringToCamelCase(header)])"
            [ngClass]="{
              tag: row[turnStringToCamelCase(header)]?.tag,
              available: row[turnStringToCamelCase(header)]?.tagAvailable
            }"
          >
            {{
              row[turnStringToCamelCase(header)]?.value ||
                row[turnStringToCamelCase(header)]
            }}
          </div>
          <div *ngIf="isBool(row[turnStringToCamelCase(header)])">
            <i
              *ngIf="isTrue(row[turnStringToCamelCase(header)])"
              [style.color]="'#6ab04c'"
              class="fa-solid fa-check icon"
            ></i>
            <i
              *ngIf="!isTrue(row[turnStringToCamelCase(header)])"
              [style.color]="'#eb4d4b'"
              class="fa-solid fa-xmark icon"
            ></i>
          </div>
        </td>
        <td [attr.data-name]="'Actions'" *ngIf="Array.isArray(row?.actions)">
          <div class="table_actions">
            <button
              class="table_action"
              *ngFor="let action of row?.actions"
              (click)="action?.function()"
            >
              <i
                [style.color]="action?.color"
                [class]="'fa-duotone fa-' + action?.icon"
              ></i>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <footer class="table_footer">
    <div class="table_found_result">
      Showing {{ visibleRowAmount }} rows out of {{ totalCount != 0 ? totalCount : data?.length  }} results
      found
    </div>
    <div *ngIf="maxPages > 1" class="table_pagination">
      <ul class="pagination">
        <li class="pagination_button" (click)="changePage(pageNumber - 1)">
          <i class="fa-solid fa-angle-left"></i>
        </li>
        <li
          *ngFor="let page of Array.from(Array(maxPages).keys())"
          class="pagination_button"
          [ngClass]="{ selected: pageNumber === page + 1 }"
          (click)="changePage(page + 1)"
        >
          {{ page + 1 }}
        </li>
        <li class="pagination_button" (click)="changePage(pageNumber + 1)">
          <i class="fa-solid fa-angle-right"></i>
        </li>
      </ul>
    </div>
  </footer>
</div>
