// sets
$gl-ms: "screen and (max-width: 23.5em)"; // up to 360px
$gl-xs: "screen and (max-width: 35.5em)"; // up to 568px
$gl-sm: "screen and (max-width: 48em)"; // max 768px
$gl-md: "screen and (max-width: 64em)"; // max 1024px
$gl-lg: "screen and (max-width: 80em)"; // max 1280px

.table_wrapper {
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  &.no_shadow {
    box-shadow: none;
  }
}

.table_header {
  border-bottom: 1px solid hsl(0, 0%, 89%);
}

.table_filters {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
  border-top: 1px solid hsl(0, 0%, 89%);
  padding: 8px 24px;
}

.table_pagination_selector {
  display: flex;
  gap: 10px;
  align-items: center;
}

.table_title {
  font-weight: 600;
  font-size: 1.2em;
  margin-left: 24px;
}

.table_footer {
  padding: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.table_found_result {
  color: hsl(0, 0%, 49%);
  font-size: 0.85em;
  font-weight: 500;
}

.table_inner_wrapper {
  overflow-x: auto;
  width: 100%;
}

table {
  border-spacing: 1;
  border-collapse: collapse;
  background: white;
  margin: 0 auto;
  position: relative;
  width: 100%;

  * {
    position: relative;
  }

  td,
  th {
    padding-left: 24px;
    text-align: left;
  }

  th {
    cursor: pointer;
    font-size: 0.9em;
    font-weight: 600;
    position: relative;
  }

  .header_sort {
    display: inline-block;
    margin-left: 8px;
    font-size: 0.8em;
    color: hsl(0, 0%, 79%);
  }

  .table_action_header {
    text-align: center;
  }

  thead tr {
    height: 48px;
    background-color: rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid hsl(0, 0%, 89%);
  }

  tbody tr {
    height: 48px;
    border-bottom: 1px solid hsl(0, 0%, 95%);

    &:last-of-type {
      border-bottom: 1px solid hsl(0, 0%, 89%);
    }
  }
}

@media #{$gl-xs} {
  table {
    display: block;
    > *,
    tr,
    td,
    th {
      min-width: 100px;
      display: block;
    }

    thead {
      display: none;
    }
    tbody tr {
      height: auto;
      padding: 8px 0;
      td {
        padding-left: 45%;
        margin-bottom: 12px;
        text-align: center;
        &:last-child {
          margin-bottom: 0;
        }
        &:before {
          text-align: center;
          content: attr(data-name);
          position: absolute;
          font-weight: 700;
          width: 40%;
          left: 10px;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
  }
}

.select {
  position: relative;
  display: inline-block;
  padding: 4px 45px 4px 7px;
  border-radius: 8px;
  width: 50px;
  border: 2px solid hsl(0, 0%, 80%);
  background-color: hsl(0, 0%, 95%);
  text-align: left;
  color: #444;
  font-size: 0.95em;
  cursor: pointer;
  user-select: none;

  &::before {
    content: "\f107";
    font: var(--fa-font-solid);
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
  }

  &.active {
    & .select_options_list {
      opacity: 1;
      visibility: visible;
    }

    &::before {
      content: "\f106";
    }
  }
}

.select_options_list {
  position: absolute;
  z-index: 100;
  top: 140%;
  padding: 8px 0;
  right: 0;
  left: 0;
  border-radius: 8px;
  transition: 0.225s ease;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.select_option {
  padding: 8px 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  overflow: hidden;
  transition: 0.225s ease;
  user-select: none;

  &:hover {
    background-color: hsl(0, 0%, 95%);
  }

  &:last-of-type {
    border-bottom: none;
  }
}

.form_field_wrapper {
  position: relative;
}

.search_field_wrapper {
  width: 100%;
  max-width: 250px;
}

.search_field {
  width: 100%;
  position: relative;
  border: 2px solid hsl(0, 0%, 80%);
  background-color: hsl(0, 0%, 95%);
  padding: 8px;
  display: block;
  border-radius: 8px;
  font-size: 0.95em;
  line-height: 1.5;
  box-shadow: none;
  padding-right: 30px;
  transition: background 0.225s ease, border 0.225s ease;

  &:focus-within {
    outline: none;
  }

  &:disabled,
  &[disabled] {
    cursor: default;
    opacity: 0.7;
  }
}

.field_right_icon {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &:hover:before {
    color: rgb(0, 0, 0, 0.8);
  }

  &::before {
    transition: color 0.225s ease;
    content: "\f002";
    font: var(--fa-font-solid);
    font-size: 1em;
    color: rgb(0, 0, 0, 0.5);
  }
}

.icon {
  font-size: 1.2em;
}

.tag {
  --hue: 0;
  --saturation: 0;

  margin: auto;
  font-size: 0.7em;
  padding: 4px 8px;
  border-radius: 16px;
  background-color: hsl(var(--hue), calc(var(--saturation) * 1%), 90%);
  color:  hsl(var(--hue), calc(var(--saturation) * 1%), 55%);
  font-weight: 600;
  width: fit-content;
}

.table_actions {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  flex-wrap: wrap;
  vertical-align: center;
}

.table_action {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border-style: none;
  background-color: transparent;
  font-size: 1.2em;
  cursor: pointer;
  transition: background 0.225s ease;

  &:hover,
  &:focus-within {
    outline: none;
    background-color: rgba(0, 0, 0, 0.1);
  }
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination_button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 27px;
  height: 27px;
  border: 1px solid hsl(0, 0%, 80%);
  transition: all 0.225s ease;
  border-radius: 4px;
  margin: 1px;

  &:hover {
    background-color: hsl(0, 0%, 95%);
  }

  &.selected {
    color: #fff;
    border-color: hsl(var(--primary-color-hs), 45%);
    background-color: hsl(var(--primary-color-hs), 45%);
  }
}
