<!--<div class="table_fitlers">
  <div class="form_field_wrapper">
    <div [style.position]="'relative'">
      <input class="search_field" placeholder="Search name..." type="text" />
      <div class="field_right_icon"></div>
    </div>
  </div>
  <div class="form_field_wrapper form_input full_width">
    <div
      class="select"
      [ngClass]="{ active: selectOpen }"
      (click)="openSelect()"
    >
      <span class="select_selection">
        {{ currentOption }}
      </span>
      <ul #optionsBx class="select_options_list">
        <li
          *ngFor="let option of options"
          class="select_option"
          (click)="changeOption(option.key)"
        >
          {{ option?.name }}
        </li>
      </ul>
    </div>
  </div>
</div>-->
<table>
  <thead>
    <tr>
      <th *ngFor="let header of headers" (click)="sortTable(header)">
        {{ header
        }}<i
          class="fa-solid header_sort"
          [style.color]="
            currentlySorting?.name === turnStringToCamelCase(header)
              ? '#000'
              : null
          "
          [ngClass]="{
            'fa-sort': currentlySorting?.name !== turnStringToCamelCase(header),
            'fa-sort-up':
              currentlySorting?.name === turnStringToCamelCase(header) &&
              currentlySorting?.order === 'asc',
            'fa-sort-down':
              currentlySorting?.name === turnStringToCamelCase(header) &&
              currentlySorting?.order === 'desc'
          }"
        ></i>
      </th>
      <th *ngIf="containsActions()">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of data">
      <td
        [attr.data-name]="header"
        [style.text-align]="item?.align"
        *ngFor="let header of headers"
      >
        <div
          *ngIf="!isBool(item[turnStringToCamelCase(header)])"
          [ngClass]="{
            tag: item[turnStringToCamelCase(header)]?.tag,
            available: item[turnStringToCamelCase(header)]?.tagAvailable
          }"
        >
          {{
            item[turnStringToCamelCase(header)]?.value ||
              item[turnStringToCamelCase(header)]
          }}
        </div>
        <div *ngIf="isBool(item[turnStringToCamelCase(header)])">
          <i
            *ngIf="item[turnStringToCamelCase(header)]"
            [style.color]="'#6ab04c'"
            class="fa-solid fa-check icon"
          ></i>
          <i
            *ngIf="!item[turnStringToCamelCase(header)]"
            [style.color]="'#eb4d4b'"
            class="fa-solid fa-xmark icon"
          ></i>
        </div>
      </td>
      <td *ngIf="Array.isArray(item?.actions)">
        <div class="table_actions">
          <button
            class="table_action"
            *ngFor="let action of item?.actions"
            (click)="action?.function()"
          >
            <i
              [style.color]="action?.color"
              [class]="'fa-duotone fa-' + action?.icon"
            ></i>
          </button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
