// sets

$gl-ms: "screen and (max-width: 23.5em)"; // up to 360px
$gl-xs: "screen and (max-width: 35.5em)"; // up to 568px
$gl-sm: "screen and (max-width: 48em)"; // max 768px
$gl-md: "screen and (max-width: 64em)"; // max 1024px
$gl-lg: "screen and (max-width: 80em)"; // max 1280px

// table style

table {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-spacing: 1;
  border-collapse: collapse;
  background: white;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  border-radius: 4px;
  position: relative;

  * {
    position: relative;
  }

  td,
  th {
    padding-left: 8px;
  }

  th {
    font-size: 1em;
    text-align: center;
    font-weight: 600;
  }

  thead tr {
    height: 60px;
    background-color: rgba(0, 0, 0, 0.03);
    border-bottom: 2px solid hsl(0, 0, 89%);
  }

  tbody tr {
    height: 48px;

    &:nth-of-type(even) {
      background-color: rgba(0, 0, 0, 0.03);
    }

    &:last-child {
      border: 0;
    }
  }
}

@media #{$gl-xs} {
  table {
    display: block;
    > *,
    tr,
    td,
    th {
      display: block;
    }

    thead {
      display: none;
    }
    tbody tr {
      height: auto;
      padding: 8px 0;
      td {
        padding-left: 45%;
        margin-bottom: 12px;
        &:last-child {
          margin-bottom: 0;
        }
        &:before {
          content: attr(data-name);
          position: absolute;
          font-weight: 700;
          width: 40%;
          left: 10px;
          top: 0;
        }
      }
    }
  }
}

.icon {
  font-size: 1.2em;
}

.tag {
  margin-right: 4px;
  font-size: 0.7em;
  padding: 4px 8px;
  border-radius: 16px;
  background-color: rgba(0, 0, 0, 0.16);
  font-weight: 500;

  &.unavailable {
    background-color: hsl(358, 83%, 82%);
    color: hsl(358, 83%, 52%);
  }

  &.available {
    background-color: hsl(140, 100%, 79%);
    color: hsl(140, 100%, 29%);
  }
}

.table_actions {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  flex-wrap: wrap;
  vertical-align: center;
}

.table_action {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border-style: none;
  background-color: transparent;
  font-size: 1.2em;
  cursor: pointer;
  transition: background 0.225s ease;

  &:hover,
  &:focus-within {
    outline: none;
    background-color: rgba(0, 0, 0, 0.1);
  }
}
